
  .futor {
    grid-area: futor;
    background-color: $primary-color;
    color: $second-color;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    font-family: $font-stack;
    padding: 2px;
  }