.header__logo {
  grid-area: logo;
  background-color: $primary-color;

  &__img {
    width: 200px;
    padding-left: 30px;
  }
}


.header__weather {
  grid-area: weather;
  background-color: $primary-color;
  display: flex;
  align-items: center;

  &__cont {
    display: flex;
    flex-grow: 1;
    align-items: stretch;

    &__day {
      flex-grow: 1;
      display: flex;
      align-items: center;


      &__icon {
        width: 30px;
        height: 100%;
      }

      &__td {
        flex-direction: column;
        font-family: $font-stack;
        color: #ffffff;
        font-size: 13px;
      }
    }
  }
}


.header__exchange {
  grid-area: exchange;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;


  &__table {
    font-family: $font-stack;
    color: #ffffff;
    font-size: 13px;
  }
}

@media screen and (max-width: 890px) {

  .header__logo__img {
    width: 100px;
    padding-left: 8px;
  }

  .header__weather {
    justify-content: flex-end;

    &__cont {
      flex-grow: unset;
      padding-right: 20px;
    }
  }

  .header__exchange {
    justify-content: flex-end;
    padding-right: 20px;
  }
}