@import 'logo';
@import 'weather';
@import 'exchange';
@import 'search';
@import 'media_mixin';


.header {
  color: $second-color;
  font-size: 14px;
  display: grid;
  grid-template-columns: 422px 240px 220px;
  grid-template-rows: 150px 50px;
  grid-template-areas:
    "logo weather exchange"
    "logo search search";

  @include mobile {
    font-size: 11px;
    grid-template-columns: 1fr 150px 130px;
    grid-template-rows: 80px 30px;
    grid-template-areas:
      "logo weather exchange"
      "search search search";
  }
}