@import 'media_mixin';

.header-logo {
  grid-area: logo;
  padding-left: 30px;

  @include mobile {
    padding-left: 4px;
  }

  &__img {
    width: 200px;

    @include mobile {
      width: 80px;
    }
  }
}