.nav {
  grid-area: nav;
  background-color: $primary-color;
  display: flex;
  padding-left: 5px;

  &__menu {
    background-color: $primary-color;
    padding: 0;
    margin: 0;

    &__item {
      display: inline;
      border-bottom-width: 0px;
      padding: 2px 5px 12px 5px;

      &__active {
        border-bottom-width: 0px;
        padding: 2px 5px 12px 5px;
        display: inline;
        background-color: #ffffff;
      }

      &__buton__active {
        text-decoration: none;
        font-family: $font-stack;
        text-transform: uppercase;
        color: $primary-color;
      }

      &__buton {
        text-decoration: none;
        font-family: $font-stack;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 890px) {

  .nav {
    font-size: 14px;

    &__menu__item {
      padding: 2px 1px 12px 1px;

      &__active {
        padding: 2px 1px 12px 1px;
      }
    }
  }
}