.news {
  grid-area: news;
  background-color: $primary-color;

  &__window {
    background-color: $second-color;
    margin: 0px 5px;
    height: 100%;
  }
}

.news-item {
  padding: 10px 25px;

  &__date {
    display: block;
    padding: 1px 0 7px;
    font-size: 13px;
    line-height: 16px;
    color: #999;
  }

  &__href {
    display: block;
    font-size: 34px;
    line-height: 36px;
    font-family: $font-stack;
    text-decoration: none;
    color: $primary-color;
  }

  &__image {
    display: block;
    margin: 13px 0 16px;
  }

  &__item-image {
    display: block;
    max-width: 100%;
  }

  &__description {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-description;
  }
}


@media screen and (max-width: 890px) {

  .news-item {
    &__date {
      font-size: 12px;
    }

    &__href {
      font-size: 20px;
    }

    &__item-image {
      display: block;
      max-width: 100%;
    }

    &__description {
      font-size: 14px;
    }
  }
}