@import 'media_mixin';

.news {
  grid-area: news;
  background-color: var(--second-color);

}

.news-item {
  padding: 10px 25px;

  @include mobile {
    padding: 4px 8px;
  }

  &__href {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
  }

  &__date {
    display: block;
    font-size: 13px;
    color: #999;

  }

  &__title {
    margin-top: 4px;
    font-size: 24px;

    @include mobile {
      font-size: 20px;
    }
  }


  &__image {
    display: block;
    margin: 13px 0 16px;
  }

  &__item-image {
    display: block;
    max-width: 100%;
  }

  &__description {
    display: block;
    font-size: 18px;

    @include mobile {
      font-size: 16px
    }
  }
}


@media screen and (max-width: 890px) {

  .news-item {
    &__date {
      font-size: 12px;
    }

    &__href {
      font-size: 20px;
    }

    &__item-image {
      display: block;
      width: 100%;
      height: auto;
    }

    &__description {
      font-size: 14px;
    }
  }
}