.search {
  grid-area: search;
  background-color: $primary-color;
  color: $second-color;
}

.search-form {
  padding-left: 8px;


  &__input {
    width: 390px;
    color: $primary-color
  }
}

@media screen and (max-width: 890px) {

  .search {
    height: 28px;
  }

  .search-form {
    padding-left: 4px;

    &__input {
      width: 93%;
    }
  }
}