.header-search {
  grid-area: search;
}

.search-form {
  margin: auto;

  &__input {
    width: 95%;
  }

  &__button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
}