@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Jost&family=Play&display=swap');
@import 'variables';
@import 'header';
@import 'search';
@import 'nav';
@import 'news';
@import 'footer';





body {
  font-family: $font-stack;

  
  .all {
    max-width: 890px;
    min-width: 380px;
    margin: auto;
    background-color: $primary-color;
    box-sizing: border-box;
    padding: 4px;
    height: 100%;
  }
}