@import 'logo';
@import 'weather';
@import 'exchange';
@import 'search';
@import 'media_mixin';


.header {
  color: var(--second-color);
  font-size: 14px;
  display: grid;
  grid-template-columns: 392px 240px 210px;
  grid-template-rows: 150px 50px;
  grid-template-areas:
    "logo weather exchange"
    "logo search search";
  padding-left: 30px;
  padding-right: 10px;

  &__logo {
    grid-area: logo;
  }

  &__weather {
    grid-area: weather;
    display: flex;
  }

  &__exchange {
    grid-area: exchange;
    display: flex;
  }

  &__search{
    grid-area: search;
  }

  @include mobile {
    font-size: 11px;
    grid-template-columns: 1fr 180px 120px;
    grid-template-rows: 80px 30px;
    grid-template-areas:
      "logo weather exchange"
      "search search search";
    padding-left: 4px;
    padding-right: 4px
  }
}