@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Jost&family=Play&display=swap');
@import 'variables';
@import 'header';
@import 'search';
@import 'nav';
@import 'news';
@import 'footer';
@import 'admin_panel';





body {
  font-family: var(--font-description);
  height: 100%;

  // Эти классы должны находится в соответствующих файлах а не здесь
  .all {
    max-width: 890px;
    min-width: 380px;
    margin: auto;
    background-color: var(--primary-color);
    box-sizing: border-box;
    padding: 4px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .modal {
    height: 25px;
    width: 25px;
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: 0.5;
    color: #acaeb4;
    font-size: 25px;

  }

  .modalNews {
    height: 100%;
    width: 100%;
    background-color: #acaeb4;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    opacity: 0.95;
    font-size: 15px;

    &__item {
      width: 95%;
    }
    &__itemArticle {
    width: 95%;
    height: 200px;
  }
  }



  
}
