@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Jost&family=Play&display=swap");
:root {
  --font-stack: "Fira Sans", sans-serif;
  --font-description: "Play", sans-serif;
  --primary-color: #112788;
  --second-color: #ffffff;
}

.logo {
  width: 200px;
}
@media (max-width: 890px) {
  .logo {
    width: 80px;
  }
}

.weather-day {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
}
.weather-day__icon {
  font-size: 25px;
}
@media (max-width: 890px) {
  .weather-day__icon {
    font-size: 13px;
  }
}

.exchange {
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  display: flex;
}

.search-form {
  display: flex;
  gap: 4px;
  width: 100%;
}
.search-form__input {
  flex: 1 1 auto;
}
.search-form__button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header {
  color: var(--second-color);
  font-size: 14px;
  display: grid;
  grid-template-columns: 392px 240px 210px;
  grid-template-rows: 150px 50px;
  grid-template-areas: "logo weather exchange" "logo search search";
  padding-left: 30px;
  padding-right: 10px;
}
.header__logo {
  grid-area: logo;
}
.header__weather {
  grid-area: weather;
  display: flex;
}
.header__exchange {
  grid-area: exchange;
  display: flex;
}
.header__search {
  grid-area: search;
}
@media (max-width: 890px) {
  .header {
    font-size: 11px;
    grid-template-columns: 1fr 180px 120px;
    grid-template-rows: 80px 30px;
    grid-template-areas: "logo weather exchange" "search search search";
    padding-left: 4px;
    padding-right: 4px;
  }
}

.search-form {
  display: flex;
  gap: 4px;
  width: 100%;
}
.search-form__input {
  flex: 1 1 auto;
}
.search-form__button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.nav {
  grid-area: nav;
  height: 25px;
}
@media (max-width: 890px) {
  .nav {
    height: 23px;
    font-size: 14px;
  }
}
.nav__menu {
  padding: 0;
  margin: 0;
}
.nav__item {
  display: inline;
  border-bottom-width: 0px;
  padding: 0px 4px 7px 4px;
}
.nav__item:active {
  border-bottom-width: 0px;
  display: inline;
  background-color: var(--second-color);
  padding: 0px 8px 7px 8px;
}
@media (max-width: 890px) {
  .nav__item:active {
    padding: 0px 4px 7px 4px;
  }
}

.menu-button {
  text-decoration: none;
  font-family: var(---font-stack);
  text-transform: uppercase;
  color: var(--second-color);
}

.menu-button:active {
  text-decoration: none;
  font-family: var(--font-stack);
  text-transform: uppercase;
  color: var(--primary-color);
}

.news {
  grid-area: news;
  background-color: var(--second-color);
  flex: 1 1 auto;
}

.news-item {
  padding: 10px 25px;
}
@media (max-width: 890px) {
  .news-item {
    padding: 4px 8px;
  }
}
.news-item__href {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
}
.news-item__date {
  display: block;
  font-size: 13px;
  color: #999;
}
.news-item__title {
  margin-top: 4px;
  font-size: 24px;
}
@media (max-width: 890px) {
  .news-item__title {
    font-size: 20px;
  }
}
.news-item__image {
  display: block;
  margin: 13px 0 16px;
}
.news-item__item-image {
  display: block;
  width: 100%;
  height: auto;
}
.news-item__description {
  display: block;
  font-size: 18px;
}
@media (max-width: 890px) {
  .news-item__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 890px) {
  .news-item__date {
    font-size: 12px;
  }
  .news-item__href {
    font-size: 20px;
  }
  .news-item__item-image {
    display: block;
    width: 100%;
    height: auto;
  }
  .news-item__description {
    font-size: 14px;
  }
}
.footer {
  color: var(--second-color);
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
}
@media (max-width: 890px) {
  .footer {
    font-size: 10px;
  }
}

body {
  font-family: var(--font-description);
  height: 100%;
}
body .all {
  max-width: 890px;
  min-width: 380px;
  margin: auto;
  background-color: var(--primary-color);
  box-sizing: border-box;
  padding: 4px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body .modal {
  height: 25px;
  width: 25px;
  position: fixed;
  top: 10px;
  left: 10px;
  opacity: 0.5;
  color: #acaeb4;
  font-size: 25px;
}
body .modalNews {
  height: 100%;
  width: 100%;
  background-color: #acaeb4;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  opacity: 0.95;
  font-size: 15px;
}
body .modalNews__item {
  width: 95%;
}
body .modalNews__itemArticle {
  width: 95%;
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
