.adminPanel {
  color: var(--primary-color);
  padding: 8px;


  &__title {
    text-align: center;
  }

  ; // Убрать

  &__addNews {
    width: 100%;
    font-weight: bold;
    color: var(--primary-color);
  }

  ;

  &__listNews {
    width: 100%;
  }

  ;

  &__itemNews {
    width: 100%;
    text-align: left;
    color: var(--primary-color);
  }
}