.all {
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: 100px 30px 85vh 30px;
  grid-template-areas:
    "header"
    "nav"
    "news"
    "futor";
  justify-content: center;
}

.header {
  grid-area: header;
  background-color: cornflowerblue;
  display: flex;

}

.header__logo {
  background-color: darksalmon;
  flex-grow: 2;
}

.header__weather {
  background-color: darkseagreen;
  flex-grow: 1;
}

.header__exchange {
  background-color: darkkhaki;
  flex-grow: 1;
}

.nav {
  grid-area: nav;
  background-color: hotpink;
  display: flex;
}

.nav__categories {
  background-color: moccasin;
  flex-grow: 5;
}

.nav__search {
  background-color: lavender;
  flex-grow: 1;
}

.news {
  grid-area: news;
  background-color: yellowgreen;
}

.futor {
  grid-area: futor;
  background-color: gold;
}