@import '../style/media_mixin';

.nav {
  grid-area: nav;
  height: 25px;

  @include mobile {
    height: 23px;
    font-size: 14px;
  }

  &__menu {
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline;
    border-bottom-width: 0px;
    padding: 0px 4px 7px 4px;
    @include mobile {

    }
  }

  &__item:active {
    border-bottom-width: 0px;
    display: inline;
    background-color: var(--second-color);
    padding: 0px 8px 7px 8px;
    @include mobile {
      padding: 0px 4px 7px 4px;
    }
  }
}

.menu-button {
  text-decoration: none;
  font-family: var(---font-stack);
  text-transform: uppercase;
  color: var(--second-color);
}

.menu-button:active {
  text-decoration: none;
  font-family: var(--font-stack);
  text-transform: uppercase;
  color: var(--primary-color);
}